/* Colores personalizados */
:root {
    --color-yellow: #ffde75;
    --color-dark-yellow: #ffd54c;
    --color-dark-blue: #183c48;
    --color-white: #e8e8e6;
    --color-dark-white: #c2c2c2;
    --color-black: #000000;
  }
  
  
  /* Fuentes */
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  body{
    font-family: 'Roboto', serif;
  }
  
  
  /* Uso en la página */
  .bg-yellow {
    background-color: var(--color-yellow);
  }
  
  .bg-dark-blue {
    background-color: var(--color-dark-blue);
  }
  
  .bg-white {
    background-color: var(--color-white);
  }
  
  .text-yellow {
    color: var(--color-yellow);
  }
  
  .text-dark-blue {
    color: var(--color-dark-blue);
  }
  
  .text-white {
    color: var(--color-white);
  }
  
  
  /* Secciones generales */
  .section-title h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: var(--color-yellow);
    text-shadow: 0 0 15px var(--color-yellow);
  }
  
  
  /* Loading */
  .loading-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 60, 72, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  
  /* Boton de ir hacia arriba */
  #scrollToTop{
    width: 60px;
    height: 60px;
    margin-bottom: 90px;
    background-color: var(--color-yellow);
    z-index: 1;
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    animation: popup .7s ease-in-out;
  }
  
  #scrollToTop:hover{
    background-color: var(--color-dark-yellow);
    box-shadow: 0 0 15px var(--color-dark-yellow);
  }
  
  @keyframes popup {
    0%{
        width: 40px;
        height: 40px;
    }
    50%{
        width: 80px;
        height: 80px;
    }
    100%{
        width: 60px;
        height: 60px;
    }
  }
  
  .hidden{
    display: none;
  }
  
  
  /* Botones */
  .btn-yellow {
      background-color: var(--color-yellow);
      color: var(--color-dark-blue);
  }
  .btn-yellow:hover {
      background-color: var(--color-dark-yellow);
      box-shadow: 0 0 15px var(--color-dark-yellow);
  }
  
  .btn-yellow:active {
    background-color: var(--color-dark-yellow) !important;
    box-shadow: 0 0 15px var(--color-dark-yellow) !important;
    border: none;
  }
  
  .btn-white {
    background-color: var(--color-white);
    color: var(--color-dark-blue);
  }
  
  .btn-white:hover {
    background-color: var(--color-dark-white);
    box-shadow: 0 0 15px var(--color-dark-white);
  }
  
  .btn-white:active {
    background-color: var(--color-dark-white) !important;
    box-shadow: 0 0 15px var(--color-dark-white) !important;
    border: none;
  }
  
  
  /* Estilo para las opiniones */
  .stars i {
      color: var(--color-yellow);
  }
  
  .feedback-clientes .card{
    transition: 1s;
    cursor: pointer;
  }
  
  .feedback-clientes .card:hover{
    transform: scale(1.1);
  }
  
  
  /* Animación para la imagen en la sección principal */
  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(3deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  /* Estilos para seccion principal */
  #home img {
    width: 100%;
    height: auto;
    animation: swing 3s infinite ease-in-out;
  }
  
  #home img:hover {
    animation-play-state: paused; /* Detiene la animación en hover */
  }
  
  
  /* Estilos seccion ofertas */
  #ofertas {
    background-color: var(--color-white);
  }
  
  #ofertas .card {
    border-radius: 10px;
    overflow: hidden;
  }
  
  #ofertas .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  #ofertas .card-body {
    background-color: var(--color-white);
  }
  
  #ofertas .card-title {
    color: var(--color-dark-blue);
  }
  
  #ofertas .card-text {
    color: var(--color-dark-blue);
  }
  
  #ofertas .fs-4 {
    color: var(--color-dark-blue);
  }
  
  .bg-overlay {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  
  .card-title {
      font-weight: bold;
  }
  
  .card {
      border-radius: 15px;
  }
  
  .efecto-zoom{
    transition: 1s;
  }
  
  .efecto-zoom:hover{
    transform: scale(1.2);
  }
  
  
  /* Formulario de contacto */
  form input,
  form textarea {
      border-radius: 5px;
      border: 1px solid var(--color-dark-blue);
  }
  
  form label {
      font-weight: bold;
  }
  
  
  /* Estilos para la sección de reservas */
  #reserva {
    background-color: var(--color-dark-blue); /* Morado */
  }
  
  #reserva h2 {
    color: var(--color-white); /* Blanco */
  }
  
  #reserva p {
    color: var(--color-white); /* Blanco */
  }
  
  
  /* Sección Contacto */
  #contacto {
    background-color: var(--color-white); /* Gris claro para el fondo */
  }
  
  #contacto p{
    color: var(--color-dark-blue);
  }
  
  #contacto iframe {
    border: 0;
    border-radius: 10px;
  }
  
  
  /* Enlaces del footer */
  .social-icons > a{
    color: var(--color-white);
    transition: 1s;
  }
  
  .social-icons > a:hover{
    color: var(--color-yellow);
    transform: scale(1.5);
  }

  .mesa {
    position: relative;
    overflow: hidden; /* Asegura que el overlay no salga de la card */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 1; /* Coloca el overlay sobre el contenido de la card */
    transition: opacity 0.5s ease-in-out;
}

.mesa:hover .overlay {
    opacity: 1; /* El efecto de desvanecimiento */
}

.card-body {
  position: relative;
  z-index: 0; /* Asegura que el contenido de la card esté por debajo del overlay */
}
  
  /* Estilos responsive */
  @media (max-width: 767px) {
    #ofertas .card-img-top {
        height: 150px;
    }
  }
  